<div class="question">
  <div
    class="question__image-wrapper"
  >
    <img 
      *ngIf='getImage()'
      class="question__image"
      [src]='getImage()' 
    />
  </div>
  <p> {{getText()}} </p>
  <mat-radio-group 
    class="question__answers"
  >
    <app-answer
      *ngFor="let answer of getAnswers()"
      class="question__answer"
      (answerEmitter)="onAnswer($event)"
      [questionId]="question.id"
      [answer]="answer"
    >
    </app-answer>
  </mat-radio-group>
  <div
    *ngIf='ticketAnswered'
    class='question__explanation-wrapper'
  >
    <button
      mat-raised-button
      color='accent'
      class='question__explanation-button'
      (click)='showExplanation()'
    >
      Пояснение
    </button>
  </div>
</div>
