.ticket {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__loading-wrapper {
    height: calc(100vh - 113px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}