<div class="policy">

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Политика безопасности
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Билеты и экзамен ПДД ГАИ Беларусь - мобильное приложение (далее Приложение).</p>
      <p>Эта страница содержит политику конфиденциальности в отношении сбора, использования и разглашения персональных данных
        во время использования Приложения.</p>
      <p>Мы используем данные клиентов для улучшения приложения. Используя Приложение, вы соглашаетесь на сбор и использование
        информации в соответствии с данной политикой.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Сбор и использование информации
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Мы используем только уникальный идентификатор вашего устройства(IMEI) для разделения собранной информации об использовании
        только данного Приложения(переходы по экранам, нажатия кнопок)</p>
      <p>Используемая информация может включать:</p>
      <mat-list>
        <mat-list-item>Информацию о действиях пользователя только в данном в приложении</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Использование информации
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Билеты и экзамен ПДД ГАИ Беларусь использует собираемые данные для следующих целей:</p>
      <mat-list>
        <mat-list-item>Для предоставления и поддержки Приложения</mat-list-item>
        <mat-list-item>Для уведомления об изменениях в правилах использования Приложения</mat-list-item>
        <mat-list-item>Для предоставления нового функционала, если вы захотите принять участие</mat-list-item>
        <mat-list-item>Для предоставления помощи в использовании</mat-list-item>
        <mat-list-item>Для сбора информации, позволяющей улучшить Приложение</mat-list-item>
        <mat-list-item>Для анализа информации об использовании Приложения</mat-list-item>
        <mat-list-item>Для сбора и предотвращения ошибок в работе приложения</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Передача информации
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Ваша информация, включая Персональные данные, может быть передана на компьютеры, находящиеся за пределами вашей государственной,
        провинциальной, национальной или другой государственной юрисдикции, на территории, где законы о защите данных могут
        отличаться от законов вашей юрисдикции. </p>
      <p> Если вы находитесь за пределами Беларуси и хотите предоставить нам информацию, обратите внимание, что мы передаем данные,
        в том числе личные данные, в Беларусь и обрабатываем в Беларуси. </p>
      <p> Билеты и экзамен ПДД ГАИ Беларусь предпримет все шаги, необходимые для обеспечения безопасности ваших данных в соответствии
        с настоящей Политикой конфиденциальности, и никакая передача ваших персональных данных не будет осуществлена какой-либо
        организации или стране, если не будет адекватных причин, включая ваши данные и другую личную информацию. </p>
      <h3>Официальные соглашения</h3>
      <p> Авторы Билеты и экзамен ПДД ГАИ Беларусь могут раскрывать ваши Личные данные в случаях:</p>
      <mat-list>
        <mat-list-item> Защита и защита прав или собственности Билеты и экзамен ПДД ГАИ Беларусь </mat-list-item>
        <mat-list-item> Предотвращение или расследование возможных правонарушений в связи с использованием Приложения </mat-list-item>
        <mat-list-item> Для защиты личной безопасности пользователей Приложения или общественности </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Официальные соглашения
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Авторы Билеты и экзамен ПДД ГАИ Беларусь могут раскрывать ваши Личные данные в случаях:</p>
      <mat-list>
        <mat-list-item> Защита и защита прав или собственности Билеты и экзамен ПДД ГАИ Беларусь </mat-list-item>
        <mat-list-item> Предотвращение или расследование возможных правонарушений в связи с использованием Приложения </mat-list-item>
        <mat-list-item> Для защиты личной безопасности пользователей Приложения или общественности </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Безопасность данных
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Безопасность ваших данных важна для нас, но помните, что ни один метод передачи через Интернет или метод электронного
        хранения не обеспечивает 100%-ую безопасность. Несмотря на то, что мы стремимся использовать коммерчески приемлемые
        средства защиты ваших персональных данных, мы не можем гарантировать его абсолютную безопасность. </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Google Analytics
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Мы можем использовать сторонних поставщиков услуг для мониторинга и анализа использования нашего Сервиса. </p>
      <p>
        <strong>Firebase</strong>
      </p>
      <p> Firebase - это служба аналитики, предоставляемая Google Inc. </p>
      <p> Вы можете отказаться от некоторых функций Firebase с помощью настроек вашего мобильного устройства, таких как настройки
        рекламы вашего устройстваили следуя инструкциям, предоставленным Google в их Политике конфиденциальности:
        <a href="https://policies.google.com/privacy?hl=ru"> https://policies.google.com/privacy?hl=ru </a>
      </p>

      <p> Мы также рекомендуем вам ознакомиться с политикой Google по защите ваших данных:
        <a href="https://support.google.com/analytics/answer/6004245">
          https://support.google.com/analytics/answer/6004245 </a>. Для получения дополнительной информации о том, какой
        тип информации Firebaseсобирает, пожалуйста, посетите веб-страницу Google Privacy & Terms:
        <a href="https://policies.google.com/privacy?hl=ru">
          https://policies.google.com/privacy?hl=ru </a>
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ссылки на сторонние сайты
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Данное приложение может содержать ссылки на сторонние сайты, которые не управляются данным приложением. Если вы нажмете
        на ссылку на сторонний сайт, вы будете перенаправлены на него. Мы настоятельно рекомендуем вам ознакомиться с Политикой
        конфиденциальности каждого сайта, который вы посещаете. </p>
      <p> Мы не контролируем и не берем на себя никакой ответственности за содержимое или политику конфиденциальности сторонних
        сайтов или служб. </p>
      <h2> Изменения в данной политике конфиденциальности </h2>
      <p> Мы можем время от времени обновлять нашу Политику конфиденциальности. Мы сообщим вам о любых изменениях путем публикации
        новой Политики конфиденциальности на этой странице. </p>
      <p> Рекомендуется периодически просматривать эту Политику конфиденциальности для любых изменений. Изменения в этой Политике
        конфиденциальности вступают в силу в момент размещения на данной странице.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Контакты
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Если у вас есть какие-либо вопросы, касающиеся данной политики конфеденциальности, пожалуйста используйте контакты:</p>

      <button mat-button>
        <a class='policy__link' href="mailto:vitaliy.makarevich.market@gmail.com?Subject=Policy" target="_top">
          vitaliy.makarevich.market@gmail.com
        </a>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>